*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
input{
    text-decoration: none;
    border: 0;
}
body{
    direction:rtl;
    height: 100vh;
    background-image: url(../image/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 100%;
    height: 45px;
    background-color: #797777;
}
nav{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}
.serch-box form input{
        background-color: #725f5f;
        height: 25px;
}
.serch-box form button{
    display: inline-flex;
    width: 70px;
    height: 25px;
    padding-right: 15px;
    padding-top: 3px;
    border-radius: 4px;
    margin-right: 3px;
}
.serch-box form button:hover{
    cursor: pointer;
}
nav ul{
    padding-top: 10px;
    display: flex;
    list-style:none;
    gap: 20px;
    font-size: 20px;
}
nav ul a{
    color: black;
}
nav ul a:hover{
    background-color: #725f5f;
    border-radius: 5px;
    padding: 5px;
}
.logo img{
    width: 40px;
    height: 45px;
}
.selector{
    margin-top: 10px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.selector h1{
    font-style: oblique;
    font-size: 130px;
    line-height: 200px;
    width: 90px;
    padding-right: 30px;
}
.information{
    display: flex;
    font-size: 20px;
    width: 550PX;
    color: black;
    direction: ltr;
    padding-top: 50px;
}
.contianer{
    margin: 30px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    width: calc(100-30px);
    display: flex;
    justify-content: space-around;
}
.contianer img{
    width: 80%;
    margin: 20px 0;
}
.contianer p{
    position: absolute;
    top: 100px;
    right: 280px;
    font-size: 30px;
}
.products{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding-left: 33px;
    position: absolute;
    top:300px;
}
.products img{
    width: 200px;
    height: 250px;
}
.products a img:hover{
    border:2px solid #725f5f;
    transform: scale(1.1);
}
.serch{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding-left: 33px;
    position: absolute;
    top:890px;
    left: 230px;
}
.serch form input{
    background-color: #efecec;
    height: 40px;
    width: 250px;
    text-align: center;
}
.serch form svg{
    width: 20px;
    height: 20px;
    color: black;
    position: absolute;
    left: 40px;
    top: 8px;
}
.main-product{
    display: flex;
    padding-right: 48px;
    margin-top: 280px;
    gap: 35px;
}
.link{
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}
.offer{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
}
.offer-percent{
    background-color: #1BE7FF;
    color: #0F47FF;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
}
.offer-price{
    font-size: 14px;
    text-decoration: line-through;
    color: #B3C2E8;
    margin-right: 10px;
}
.price-num{
    font-size: 24px;
}
.purchase{
    text-align: center;
    padding-bottom: 15px;
}
button{
    width: 130px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px -1px #000000;
    margin-top: 10px;
    padding: auto;
}
.propits-description h4{
    text-align: center;
}
.to-kill{
    width: 30%;
    box-shadow: 0 4px 8px #E6DED1;
    border: 2px solid rgb(251, 238, 223);
}
.to-kill img{
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 0px 4px -1px #000000;
    margin: auto;
    margin-top: 10px;
}
.frank{
    width: 30%;
    box-shadow: 0 4px 8px #E6DED1;
    border: 2px solid rgb(251, 238, 223);
}
.frank img{
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 0px 4px -1px #000000;
    margin: auto;
    margin-top: 10px;
}
.island{
    width: 30%;
    box-shadow: 0 4px 8px #E6DED1;
    border: 2px solid rgb(251, 238, 223);
}
.island img{
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 0px 4px -1px #000000;
    margin: auto;
    margin-top: 10px;
}
footer nav{
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background-color: #797777;
    border-radius: 0;
}
.about{
    display: flex;
    margin-top: 10px;
}
.call , .loc{
    margin-right: 20px;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: burlywood;
    border-radius: 5px;
}
.end-box svg{
    display: inline-flex;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-right: 10px;
}
.box{
    display: flex;
    justify-content: space-between;
}
.icon a svg{
    margin-top: 15px;
    color: #000000;
    margin-left: 30px;
}
.icon a svg:hover{
    transform: scale(0.9);
}